@charset "utf-8";

/* font */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

/**********************************************/

/*** reset start ***/
* {
    margin: 0;
    padding: 0;
    line-height: 120%;
}
html, body {
    background-color: #fff;
}
body {
    display: block;
    font-size: 16px;
    color: #666666;
    font-family: 'Noto Sans KR', sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
    font-weight: normal;
    margin: 0;
    padding: 0;
}
ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
}
img {
    vertical-align: top;
    border: 0;
}
nav {
    display: block;
}
/*** reset end ***/
div#wrap{
    position: relative;
    min-width: 1280px;
}
header {
    border-top: 5px solid #009233;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    min-height: 1280px;
}
header::after {
    content: '';
    position: absolute;
    top: 164px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
}
div.content {
    position: relative;
    max-width: 1170px;
    margin: 0 auto;
    /* line-height: 120%; */
}
header >div.content >h1.logo {
    position: absolute;
    top: 35px;
    left: 50%;
    margin-left: -101px;
    transition-duration: 0.3s;
}
header>div.content>h1.logo a {
    display: block;
    background: url(../images/logo_w.png) 0 0 no-repeat;
    width: 202px;
    height: 40px;
    overflow: hidden;
    font-size: 0;
    text-indent: -99999px;
}
/***gnb메뉴 시작***/
div#wrap >header >div.content >nav#gnb {
    position: absolute;
    left: 0;
    top: 98px;
    width: 100%;
    text-align: center;
}
div#wrap >header >div.content >nav#gnb >ul {
    display: inline-block;
}
div#wrap >header >div.content >nav#gnb >ul >li {
    float: left;
    position: relative;
    width: 165px;
}
div#wrap >header >div.content >nav#gnb >ul >li a {
    transition-duration: 0.2s;
}
#gnb >ul >li a.nv1 {
    font-size: 18px;
    color: #292929;
    font-weight: bold;
    letter-spacing: -0.04em;
    position: relative;
    z-index: 3;
    padding-top: 20px;
    display: block;
}
#gnb >ul >li div.nv2 {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    padding-top: 87px;
    z-index: 2;
    /* script 적용
        top: -20px; 
        opacity: 0; 
    */
}
#gnb >ul >li div.nv2 >ul >li >a {
    display: block;
    padding: 8px 0 9px;
    font-size: 15px;
    color: #666666;
    letter-spacing: -0.05em;
}
#gnb >ul >li a.nv1, #gnb .nv2 ul li a {
    transition-duration: 0.2s;
}

/*** join,login 시작 ***/
div#wrap >header >div.content >nav.util_manu {
    position: absolute;
    right: 25px;
    top: 40px;
}
div#wrap >header >div.content >nav.util_manu ul li {
    float: left;
    position: relative;
}
div#wrap >header >div.content >nav.util_manu ul li a {
    display: block;
    height: 30px;
    font-size: 13px;
    font-weight: normal;
    line-height: 30px;
    color: #666666;
}
/* ~(틸드) ~와~사이에*/
#wrap >header >div.content >nav.util_manu li ~ li {
    margin-left: 30px;
}
#wrap >header >div.content >nav.util_manu .before_sign ~ .before_sign::before {
    content: '';
    display: block;
    background-color: #ddd;
    border-radius: 50px;
    position: absolute;
    left: -16px;
    top: 50%;
    margin-top: -2px;
    height: 3px;
    width: 3px;
}
#wrap >header >div.content >nav.util_manu >ul >li.icon_menu {
    position: relative;
}
#wrap >header >div.content >nav.util_manu >ul >li.global_subway {
    margin-left: 15px;
}
#wrap >header >div.content >nav.util_manu >ul >li.icon_menu a {
    background-repeat: no-repeat;
    background-position: 0 0;
    line-height: 0;
    width: 30px;
}
#wrap >header >div.content >nav.util_manu >ul >li.global_subway a {
    background-image: url('../images/icon_utill_global.png');
}
#wrap >header >div.content >nav.util_manu >ul >li >a >span.blind {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    position: absolute;
    height: 0;
    width: 0;
}
/*** main event tap ***/
main.main_wrapper {
    background: url('../images/bg_content.gif') 0 0 repeat;
}
main#container {
    position: relative;
    /* margin-top: 170px; */
    margin-top: 0px !important;
    padding-top: 170px;
}
main >section.main_tap_event_wrapper {
    position: relative;
    height: 490px;
    background-color: #fff;;
}
/***quick_link***/
main >section >article.quick_link {
    overflow: hidden;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 1170px;
    margin-left: -585px;
    text-align: right;
    z-index: 5;
}
main >section >article.quick_link >div.quick_link_content {
    overflow: hidden;
    float: right;
    display: table;
}
.main_tap_event_wrapper .quick_link .quick_link_content >div {
    display: table-cell;
    vertical-align: bottom;
    height: 80px;
}
/*store*/
.main_tap_event_wrapper .quick_link .quick_link_content .store a {
    display: block;
    width: 300px;
    height: 80px;
    position: relative;
    text-align: center;
    overflow: hidden;
}
div.quick_link_content div.store a {
    background-color: #ffce32;
    border-radius: 30px 0 0 0;
    float: right;
    transition-duration: 0.2s;
    letter-spacing: -0.02em;
}
.main_tap_event_wrapper .quick_link .quick_link_content >div a {
    display: block;
    width: 300px;
    height: 80px;
    position: relative;
    text-align: center;
    overflow: hidden;
}
.main_tap_event_wrapper .quick_link .quick_link_content >div a >strong {
    font-size: 22px;
    font-weight: bold;
    display: inline-block;
    padding: 27px 0 0 0;
}
.main_tap_event_wrapper .quick_link .quick_link_content .store a >strong {
    color: #292929;
    display: block;
}
.main_tap_event_wrapper .quick_link .quick_link_content .store a >strong::before {
    background: url(../images/icon_map.png) 0 0 no-repeat;
    width: 24px;
    height: 30px;
}
.main_tap_event_wrapper .quick_link .quick_link_content >div a >strong:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    padding-right: 13px;
    position: relative;
    top: -2px;
}
/*franchise*/
.main_tap_event_wrapper .quick_link .quick_link_content .franchise a {
    background-color: #009223;
    border-radius: 0 0 30px 0;
    float: left;
    letter-spacing:  -0.05em;
}
.main_tap_event_wrapper .quick_link .quick_link_content .franchise a >strong {
    color: #ffffff;
}
.main_tap_event_wrapper .quick_link .quick_link_content .franchise a >strong::before {
    background: url(../images/icon_franchise.png) 0 0 no-repeat;
    width: 34px;
    height: 30px;
}
/**quick_link end**/

/**section_subway_menu**/
section.section_subway_menu {
    background-color: #fff;
    padding: 60px 0 0;
    height: 560px;
}
section.section_subway_menu >article.hd {
    width: 1170px;
    margin: 0 auto;
    padding-bottom: 33px;
    position: relative;
}
section.section_subway_menu >article.hd h2 {
    color: #292929;
    font-size: 40px;
    font-weight: bold;
    background: url(../images/bul_tit.png) 0 12px no-repeat;
    min-height: 60px;
    padding: 17px 0 0 25px;
    margin-bottom: 1px;
}
section.section_subway_menu >article.hd div.tab {
    position: absolute;
    right: 0;
    top: 44px;
}
section.section_subway_menu >article.hd div.tab ul {
    /* overflow: hidden; */
}
section.section_subway_menu >article.hd div.tab ul li {
    float: left;
    position: relative;
    margin-left: 23px;
    padding: 0 0 0 25px;
}
section.section_subway_menu >article.hd div.tab ul li:first-child {
    padding: 0;
    margin: 0;
}
section.section_subway_menu >article.hd div.tab ul li a {
    display: block;
    font-size: 16px;
    color: #666666;
    font-weight: 300;
    letter-spacing: -0.03em;
}
/*li.acive javaScript로 구현*/
section.section_subway_menu >article.hd div.tab ul li.acive a {
    color: #009223;
    font-weight: bold;
}
section.section_subway_menu >article.hd div.tab ul li:after {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 1px;
    height: 15px;
    background-color: #dddddd;
}
.section_subway_menu .hd .tab ul li:first-child:after {
    display: none;
}
.section_subway_menu >article.subway_menu_slider_wrapper {
    position: relative;
    height: 320px;
    overflow: hidden;
}
.section_subway_menu >article.subway_menu_slider_wrapper div.subway_menu_slider {
    height: 320px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    margin: 0;
}
/**section_subway**/
section.section_subway {
    width: 1280px;
    margin: 0 auto;
    padding: 80px 0;
}
section.section_subway >article.content_top {
    overflow: hidden;
}
section.section_subway >article.content_top div.utilization {
    background: url(../images/bg_utilization.png) 0 0 no-repeat;
    width: 400px;
    height: 300px;
    position: relative;
    margin-left: 55px;
    float: left;
}
section.section_subway >article.content_top div.utilization p {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -0.03em;
    position: absolute;
    left: 39px;
    top: 38px;
}
section.section_subway >article.content_top div.utilization .btn{
    position: absolute;
    left: 41px;
    bottom: 42px;
    border: 2px solid #fff;
    border-radius: 20px;
    width: 92px;
}
section.section_subway >article.content_top div.utilization span {
    display: block;
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}
.btn {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    /* border-radius: 30px; */
    transition-duration: 0.2s;
}
.btn span {
    display: inline-block;
    vertical-align: middle;
    height: 46px;
    line-height: 46px;
}
.section_subway .content_top .history .btn {
    position: absolute;
    left: 410px;
    bottom: 42px;
    border: 2px solid #fff;
    border-radius: 20px;
    width: 128px;
}
.section_subway .content_top .history .btn span {
    display: block;
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}
section.section_subway >article.content_top div.history {
    float: left;
    width: 825px;
    position: relative;
}
section.section_subway >article.content_top div.history p {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -0.03em;
    position: absolute;
    left: 410px;
    top: 38px;
}
section.section_subway article.content_bottom {
    margin: 30px 0 0 55px;
    overflow: hidden;
}
section.section_subway article.content_bottom div.whats_new {
    background-color: #fff;
    width: 870px;
    height: 300px;
    border-radius: 30px 0 30px 0;
    position: relative;
    float: left;
}
section.section_subway article.content_bottom div.whats_new div.hd {
    position: absolute;
    top: 75px;
    left: 60px;
}
section.section_subway article.content_bottom div.whats_new div.hd h2 {
    color: #292929;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    background: url('../images/bul_tit.png') 0 0 no-repeat;
    min-height: 60px;
    padding: 17px 0 0 25px;
    margin-bottom: 1px;
}
section.section_subway article.content_bottom div.whats_new div.hd p {
    text-align: center;
    line-height: 26px;
    letter-spacing: -0.04em;
}
section.section_subway article.content_bottom div.whats_new div.board_list {
    position: absolute;
    left: 389px;
    top: 76px;
}
section.section_subway article.content_bottom div.whats_new div.board_list ul li {
    margin-top: 21px;
}
section.section_subway article.content_bottom div.whats_new div.board_list ul li:first-child {
    margin-top: 0;
}
section.section_subway article.content_bottom div.whats_new div.board_list ul li a {
    display: inline-block;
    font-size: 16px;
    color: #292929;
    position: relative;
    letter-spacing: -0.04em;
}
/*아직 무슨 용도로 쓰이는 after인지 모르겠지만 일단은 추가*/
section.section_subway article.content_bottom div.whats_new div.board_list ul li a::after {
    content: '';
    height: 1px;
    left: 0;
    bottom: 1px;
    width: 0;
    background-color: #009223;
    position: absolute;
    transition-duration: 0.2s;
}
section.section_subway article.content_bottom div.whats_new div.board_list a.more {
    display: inline-block;
    color: #999999;
    font-size: 14px;
    padding: 33px 0 8px;
}
section.section_subway article.content_bottom div.banner_sponsor {
    float: left;
    width: 270px;
    height: 300px;
    margin-left: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 0 30px 0 30px;
}
section.quick_menu {
    text-align: center;
    background-color: #fff;
    padding: 40px 0 37px;
}
section.quick_menu ul {
    overflow: hidden;
    display: inline-block;
}
section.quick_menu ul li {
    float: left;
    margin-left: 80px;
}
section.quick_menu ul li:first-child {
    margin-left: 0;
}
section.quick_menu ul li a {
    display: block;
    overflow: hidden;
    position: relative;
    height: 70px;
    padding-left: 90px;
}
section.quick_menu ul li .icon {
    background: url('../images/icon_quickmenu.png') no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    top: 0;
}
section.quick_menu ul li.qm01 .icon {
    background-position: 0px 0px;
}
section.quick_menu ul li strong {
    color: #292929;
    font-size: 18px;
    display: block;
    margin-top: 12px;
    letter-spacing: -0.04em;
    text-align: left;
}
section.quick_menu ul li span {
    color: #999999;
    font-size: 13px;
    display: block;
    margin-top: 6px;
    letter-spacing: -0.02em;
    text-align: left;
}
/***footer***/
footer {
    position: relative;
    padding: 22px 0;
    background-color: #292929;
    color: #666666;
    z-index: 9;
}
footer >section.content {
    position: relative;
    max-width: 1170px;
    margin: 0 auto;
}
footer >section.content >article.footer_menu {
    margin-bottom: 25px;
}
footer >section.content >article.footer_menu >ul {
    overflow: hidden;
}
footer >section.content >article.footer_menu >ul >li {
    float: left;
    margin-right: 29px;
}
footer >section.content >article.footer_menu >ul >li >a {
    display: block;
    font-size: 14px;
    letter-spacing: -0.05em;
    color: #666666;
}
footer .content .footer_menu li a strong {
    color: #bbbbbb;
}
footer >section.content >article.footer_menu >ul >li >a.eng {
    letter-spacing: 0.05em;
}
footer .content p {
    position: relative;
    display: inline-block;
    margin-top: 19px;
    font-size: 13px;
    padding-left: 9px;
    margin-left: 3px;
    letter-spacing: -0.01em;
}
footer .content p::after {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 2px;
    height: 10px;
    background-color: #666666;
}
footer .content p.addr {
    padding-left: 0;
    margin-left: 0;
}
footer .content p.addr:after {
    display: none;
}
footer .content span.copyright {
    /* font-family: font_sw; */
    display: inline-block;
    font-size: 13px;
    line-height: 25px;
    padding-top: 2px;
    letter-spacing: 0.005em;
}

/***footer sns***/
footer .content .sns_area {
    position: absolute;
    right: 40px;
    bottom: 3px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    text-indent: -99999px;
    font-size: 0;
    line-height: 0;
}
footer .content .instagram {
    background: url('../images/icon_sns_instar.png') 0 0 no-repeat;
    right: 105px;
}
footer .content .facebook {
    background: url('../images/icon_sns_facebook.png') 0 0 no-repeat;
    /* right: 0; */
}
footer .content .sns_area:after {
    content: '';
    width: 50px;
    height: 50px;
    display: block;
    opacity: 0;
    transition-duration: 0.3s;
}
footer::after {
    content: '';
    position: absolute;
    left: 0;
    top: 59px;
    width: 100%;
    height: 1px;
    background-color: #3b3b3b;
}
